$footer: #323232;
$text: #eee;
$text-hover: #00ABC7;

footer {
  height: 20vh;
  background-color: $footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $text;

  .container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 90%;
    background-color: $footer;

    .item {
      cursor: pointer;

      h2 {
        font-size: 5em;
        &:hover {
          color: $text-hover;
          transform: scale(1.5);
          transition-duration: 0.1s;
        }
      }
    }
  }
}
