<app-header></app-header>

<main>
  <div class="container">

    <div class="card">
      <div class="circle">
        <p>1</p>
      </div>
      <div class="box">
        <p>titleA</p>
      </div>
    </div>

    <div class="card">
      <div class="circle">
        <p>2</p>
      </div>
      <div class="box">
        <p>titleB</p>
      </div>
    </div>

    <div class="card">
      <div class="circle">
        <p>3</p>
      </div>
      <div class="box">
        <p>titleC</p>
      </div>
    </div>

    <div class="card">
      <div class="circle">
        <p>4</p>
      </div>
      <div class="box">
        <p>titleD</p>
      </div>
    </div>

  </div>
</main>

<app-footer></app-footer>
